<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      html {
        font-size: 20px;
      }
      body {
        width: 100vw;
        height: 100vh;
        font-family: sans-serif;
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ccc;
      }
      img {
        border: 3px solid black;
      }
      .date {
        padding: 50px;
      }
    </style>
  </head>
  <body>
    <a href="/">Précédent</a>
    <h1>{{.Name}}</h1>
    <div class="date">{{.CreationDate}}</div>
    <img src="{{.Image}}" />
  </body>
</html>