<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      body {
        background-color: #ccc;
      }
      .bands {
        display: flex;
        flex-wrap: wrap;
      }
      .bands img {
        border: 3px solid black;
        border-radius: 10px;
        margin: 10px;
        width: 100px;
      }
    </style>
  </head>
  <body>
    <h1>We don't talk about Bruno</h1>
    <h2>Liste des URLs</h2>
    <ul>
      <li>{{.URLs.Artists}}</li>
      <li>{{.URLs.Locations}}</li>
      <li>{{.URLs.Dates}}</li>
      <li>{{.URLs.Relation}}</li>
    </ul>
    <h2>Artists</h2>
    <div class="bands">
      {{range .Artists}}
        <a href="/artist/{{.Id}}">
          <img src="{{.Image}}" />
        </a>
      {{end}}
    </div>
  </body>
</html>